*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    text-align: center;
    overflow-x: hidden;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    color: green;
    text-transform: capitalize;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 730px) {
    h1 {
        font-size: 1.3rem;
    }
}

h3 {
    font-family: 'Roboto Mono', monospace;
    color: green;
    margin-top: 1rem;
    text-transform: capitalize;
    font-size: 1.3rem;
    padding-top: 1rem;
}

/* styling for the images and div */
.img-container {
    display: flex;
    overflow-x: hidden; 
    justify-content: center;
    margin: 0 auto;
}

img {
    width: 80%;
    max-width: 100%; 
    margin: 1rem;
    border: 2px solid green;
    border-radius: 1rem;
    cursor: pointer;
}

#scoreboard {
    margin: 2rem;
}

p {
    font-family: 'Roboto Mono', monospace;
    color: green;
    margin: 1rem;
    text-transform: capitalize;
}

